#addProduct-body {
    #addproduct-step1 {
      .panel {
        margin-bottom: 0;
      }
    }
    .form-horizontal {
      .form-group {
        margin-left : 0;
        margin-right : 0;
      }
      .control-label {
        text-align: left;
      }
    }

    #agreeTermsAndCondition {
      vertical-align: sub;
    }

    #choose-shipping-container {
      .list-unstyled li {
        padding: 5px 0;
        border-bottom: solid 1px #EDEEEE;
        .glyphicon-remove {
          text-align: center;
          line-height: 34px;
          color: #717171;
          width: 100%;
        }
      }
    }
}
