footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #FFF;
    border-top: solid 1px #EDEEEE;

  .row {
    margin: 0;
  }

  .custom-footer-paypal {
    font-size: 35px;
    vertical-align: middle;
    &:hover {
      color: #19577D;
    }
  }
  @media (max-width: 768px){
    .col-xs-12 {
      text-align: center;
      }
    .col-sm-6 .pay-container {
      text-align: center;
      .pay-footer {
        .m-t-s;
      }
    }
  }
  .pay-container {
    text-align: right;
    .pay-footer {
      width: 110px;
    }
  }
}
