#project-navbar-container {
  .current-user-img {
    background-color: #BDBDBD;
  }
  .navbar {
    border: 0;
    margin: 0;
    border-radius: 0;
    min-height: 53px;
  }
  .navbar-default {
    background-color: @nav-color;
    .navbar-toggle {
      border-color: @white;
      &:hover {
        background-color: transparent;
      }
      .icon-bar {
        background-color: @white;
      }
    }
    // this is the styling needed when active class is selected.
    .navbar-nav>.active>a {
      background-color: transparent;
      @media (min-width: 768px) {
        border-bottom: solid 3px @color-secondary;
      }
      min-height: 53px;
      span:not(.badge) {
        color: @color-secondary;
      }
    }
    //------------------------------

    .dropdown {
      a img {
        width: 19px;
        border-radius: 2px;
      }
    }
    .menu-icon {
      font-size: 20px;
      color: #B5C9D0;
      &:focus, &:active {
        color : #6199AB;
      }
      ~ .visible-xs-inline-block {
          margin-left: 10px;
      }
      @media only screen and (max-width: 768px){
        ~ .tooltip {
          display: none !important;
        }
      }
    }
    .navbar-user {
      padding: 0 5px;
    }
    .navbar-right {
      text-transform: uppercase;
      font-size: 11px;
    }
    .navbar-nav>li>a {
      color : @white;
      &:hover {
        color: @color-secondary;
        border-bottom: solid 3px;
        margin-bottom: -3px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
      }
      .logo-text {
        font-size: 22px;
        vertical-align: sub;
      }
    }
    .badge {
      background-color: #E85454;
    }

    .navbar-nav>.open>a, .navbar-nav>.open>a:focus, .navbar-nav>.open>a:hover {
      background-color: #3C3C3C;
    }


    .navbar-brand {
      padding: 0 15px;
      img {
        display: inline-block;
      }
    }

    .brand-logo {
      width: 160px;
    }
  }

  .project-navbar-right {
    li a {
      text-transform: uppercase;
      font-size: 11px;
    }
  }

  #registerModal {
    .modal-dialog {
      margin: 60px auto;
      .modal-content {
        background: @white;
        border: 0;
        .modal-header {
          background-color: #212121;
          border-bottom: solid 1px #E0E0E0;
          color: #4C4C4C;
          img {
            width: 100px;
            vertical-align: -10px;
          }
          .close {
            margin-top: 3px;
            font-size: 24px;
            color: @white;
            text-shadow: transparent;
            opacity: 1;
          }
          h4.modal-title {
            color: #BDBDBD;
          }
        }
      }
    }



    .important {
      color: rgb(231, 79, 79);
    }

    .register-text {
      font-size: 30px;
      font-weight: bold;
    }

  }

  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    > span {
    position: relative;
    display: inline-block;
    color: #545454;
      &:before{
        right: 100%;
        margin-right: 15px;
      }
      &:after {
        left: 100%;
        margin-left: 15px;
      }
      &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background: #CCCCCC;
      }
    }
  }

  .row-space {
    margin: 10px 0;
  }

  .login-twitter, .login-facebook {
    .pointer;
  }

  #LoginRegister-body {
    .btn-ups {
      background-color: #FCA600;
      border-color: #B17605;
    }
    .newsletter-checkbox {
      vertical-align: sub;
      .m-r-xs;
    }
    .carousel-caption {
      padding-bottom: 100px;
      .crsl-icon {
        font-size: 65px;
      }
      p {
        font-size: 18px;
      }
    }
    .carousel-indicators {
      bottom: 5px;
      margin-bottom: 0;
      li {
        margin: 0 5px;
      }
      li.active {
        width: 10px;
        height: 10px;
      }
    }
    .carousel-inner {
      .item {
        &:after {
          content : "";
          position: absolute;
          background-color: rgba(0,0,0,0.6);
          width: 100%;
          height: 100%;
          right: 0;
          top: 0;
        }
        img {
          min-height: 422px;
          max-height: 422px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .modal-dialog {
      margin: 65px auto;
    }
    .modal-content, .modal-header, .modal-footer {
      background-color: transparent;
    }
    .modal-content {
      box-shadow: none;
      border: 0;
      .modal-header {
        border-bottom: 0;
        .close {
          opacity: 1;
          font-size: 32px;
          color: @white;
        }
      }
      .modal-body {
        background-color: @white;
        padding: 0;
      }
    }
    .nav-tabs>li>a {
      padding: 10px 50.8px;
      text-transform: uppercase;
      border-radius: 0;
      .no-margin;
    }
    .nav-tabs>li:not(.active)>a {
      background-color: #E4E4E4;
    }
  }
}
