#item-detail-module {

	.item-detail-sm-div img {
		float: right;
		padding: 0 5px;
	}

	.item-detail-sm-div img:last-child {
		padding-right: 0;
	}

	.item-detail-sm {
		width: 42px;
	}

	.promote-sm, .lh-standard {
		line-height: 32px;
	}

	.item-detail-description {
    word-break: break-all;
      li {
      text-align: justify;
  	}
  }

	.item-detail-product-slider img {
		width: 100%;
	}

	.item-detail-product-slider-left, .item-detail-product-slider-right {
		background-image: none !important;
	}

	.item-detail-product-slider-left span, .item-detail-product-slider-right span {
		padding: 8px;
	    box-sizing: content-box;
		background-color: rgba(0,0,0,0.4);
	}

	.item-detail-product-slider-left span:first-child {
		left: 15px;
	}

	.item-detail-product-slider-right span:first-child {
		right: 15px;
	}

	.comment-thumbnail {
		width: 64px;
		height: 64px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: @project-radius;
	}

	.shop-item-content {
    	padding: 15px;
    	background-color: #FFF;
    	border: solid 1px @pg-border;
    	border-radius: @project-radius;
    }

}
