#login {

  .log-reg-btn {
    text-transform: uppercase;
    font-weight: bold;
  }

  .lgn-custom {
    font-size: 28px;
    vertical-align: -7px;
    margin-top: -3px;
  }

  .reg-custom {
    font-size: 20px;
    vertical-align: -2px;
    margin: 2px 8px 0 0;
  }

  .reg-text {
    vertical-align: text-bottom;
  }

  .ups-login-logo {
    width: 30px;
  }

  @font-face {
      font-family: 'fat-frank'; /*a name to be used later*/
      src: url('../fonts/FatFrank-Free.otf'); /*URL to font*/
  }

  .login-bg-image {
      background-size: cover;
      height: 410px;
      width: 100%;
  }

  .login-bg-image:after {
    position: absolute;
    width: 100%;
    height: 410px;
    content: "";
    background: url("../images/cover-mask.png") 0 410px;
    background-size: cover;
    border-bottom: solid 5px #28575A;
  }

  .fatfrank {
    font-family: 'Monsterrat-ExtraBold', sans-serif !important;
  }

  .login-text {
    color: @white;
  }

  .login-brand-style {
    font-family: 'Monsterrat-ExtraBold', sans-serif !important;
    color: #545454;
    font-size: 22px;
    vertical-align: middle;
    margin-left: 10px;
    font-weight: bold;
  }

  .brand-logo-style {
    padding: 20px 0;
    width: 120px;
  }

  .gb-xs-c {
    margin-top: 265px;
    @media only screen and (max-width: 988px){
      margin-top: 230px;
    }
  }

  section#login-products {
    padding: 10px 0;
  }

  .thumbnail {
    &:hover {
      text-decoration: none;
      .btn-login-price {
        visibility: visible;
      }
    }
    .login-price {
      color: #C79126;
      font-weight: 500;
      font-size: 15px;
    }
  }

  .fadein {
    position: relative;
  }

  .slide-description {
    position: absolute;
    bottom: 15px;
  }

  .slider-wrapper {
    min-height: 455px;
    height : 455px;
    width: 100%;
  }

  .slider-wrapper .slide {
      position:absolute;
      left: 0;
      min-height: 455px;
      height: 455px;
      width: 100%;
      top: 0;
  }

  .slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 50px;
  }

  .slide:before {
    content: "";
    background-image: url("../images/pattern.png");
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
  }

  .slide-1 {
    background-image: url('../images/cover-1.jpg');
  }

  .slide-2 {
    background-image: url('../images/cover-2.jpg');
  }

  .slide-3 {
    background-image: url('../images/cover-3.jpg');
  }

  .image-modal .modal-header {
    height: auto;
  }
}

#loader-div {
  background: rgba(0,0,0,.9) url('../images/reload_normal.gif') center no-repeat;
  background-size: 200px 200px;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:999;

}
