@import "./root.less";
@import "./theme.less";
@import "./fonts.less";

@import "./about.less";
@import "./noty.less";
@import "./addproduct.less";
@import "./addproducttags.less";
@import "./cart.less";
@import "./cropit.less";
@import "./header.less";
@import "./footer.less";
@import "./geminiScroll.less";
@import "./itemdetail.less";
@import "./login.less";
@import "./market.less";
@import "./message.less";
@import "./misc.less";
@import "./orderlist.less";
@import "./payment.less";
@import "./profile.less";
@import "./privacypolicy.less";
@import "./selecteditem.less";
@import "./shipping.less";
@import "./shopitem.less";
@import "./shopsettings.less";
@import "./termsandcondition.less";
@import "./contentloader.less";

html {
  min-height: 100%;
  position: relative;
}

body {
  font-size: 13px;
  background-color: #F9F9F9;
  margin-bottom: 75px;
  @media (max-width: 768px){
    margin-bottom: 110px;
  }
}
