#noty_top_layout_container {
  left: 44% !important;
  width: 15% !important;
  .noty-message {
    padding: 18px 10px !important;
  }
  li {
    border: 0 !important;
    background: none !important;
    border-radius: 0 0 2px 2px !important;
  }
  .noty_bar {
  }
  .noty_type_error {
    overflow: hidden;
    border-radius: 0 0 2px 2px;
    border-top: solid 2px;
    margin-top: 5px;
    border-top-color: #EC3D3D;
    box-shadow: rgba(236, 61, 61, 0.901961) 0px 0px 1px;
    color: #EC3D3D;
    cursor: pointer;
    background-color: #F4E9E9;
  }
}
