#shipping-body {
  max-width: 700px;
  margin: 0 auto;
  .m-t-s;
  .address-radio {
    vertical-align: -2px;
    margin-right: 10px;
  }
  .or-hr {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #E8E8E8;
    border-top: 2px solid #FFFFFF;
    line-height: 0.05em;
    margin: 10px 0 25px;
    span {
      background: #F9F9F9;
      padding: 0 10px;
      text-transform: uppercase;
      color: #6D6D6D;
    }
  }
  .list-unstyled li {
    padding: 10px 0;
  }
  .form-horizontal .form-group {
    margin-left: -10px;
    margin-right: -10px;
    label {
      span {
        color: #333333;
      }
    }
  }
  .address-radio, .address-radio ~ label {
    .pointer;
  }

  .d-flex {
    > .address-radio {
      width: 17px;
    }
  }
}
