#shopsettings-container {
  .m-t-s;
  #formStatusModal {
    .modal-sm {
      margin-top: 130px;
    }
    .glyphicon-ok {
      font-size: 29px;
      vertical-align: -6px;
    }
    .close-sm-modal {
      color: @white;
      right: 50%;
      margin-top: 5px;
      text-align: center;
      display: block;
    }
  }


  h4 {
    .no-margin;
  }
  hr {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

#eCash-container {
  .m-t-s;
}

.form-horizontal .form-group label {
  text-align: left;
  span {
    color: #333333;
  }
}
