#shop-item {
  .shop-item-div {
    border: solid 1px #CCCCCC;
    box-shadow: 0px 1px 3px @pg-border;
    margin-bottom: 20px;
    border-radius: @project-radius;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    &:hover {
      border: solid 1px #64B8DC;
      box-shadow: 0px 1px 5px #CCCCCC;
    }
  }

  .shop-blur-bg {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    // height: 200px;
    filter: blur(20px);
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 0;
    background-size : cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .shop-image-container {
    text-align: center;
    position: relative;
  }

  .shop-product-image {
    cursor: pointer;
    height: 200px;
    // width: 100%;
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: inherit;
    // border-radius: 3px 3px 0 0;
  }

  #product-tags {
    position: absolute;
    right: 0 !important;
    top: 0 !important;
    color: #FFF;
    background-color: rgba(0,0,0,0.5);
    padding: 5px 6px 1px;
    &:hover {
      background-color: rgba(0,0,0,0.7);
      .pointer;
    }
  }

  .remove-product.unhide ~ #product-tags {
    right: 0 !important;
    top: 25px !important;
  }

  .remove-product {
    position: absolute;
    right: 0;
    top: 0;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0,0,0,0.7);
    }
  }

  .ph-ct {
    min-height: 18px;
  }

  .item-list-detail-div {
    padding: 0 8px 5px;
    background-color: #FFFFFF;
    border-top: solid 1px @pg-border;
    border-radius:  0 0 3px 3px;
  }

  .shop-product-name {
    font-size: 14px;
    line-height: 18px;
    .ellipsis;
  }

  .resell-desc {
    .ellipsis;
  }

  .shop-product-owner {
    font-size: 11px;
    color: #909090;
    .ellipsis;
  }

  .shop-price, .hot-items-item-price {
    font-size: 19px;
    line-height: 23px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
    text-align: right;
  }

  .shop-product-stocks {
    color: #909090;
    margin-bottom: 0;
    .ellipsis;
  }

  .shop-item-status {
    float: right;
  }

  .sp-no {
    padding: 5px 0;
  }

  .resell-btn-container {
    cursor: pointer;
  }

  .resell-btn-container:hover {
    font-weight: bold;
  }

  // ------------------- Already in Cart popover ----------------------

  .a-i-c {
    cursor: pointer;
  }

  .a-i-c ~ div.popover {
    color: @white;
    border: 0;
  }

  .a-i-c ~ div.popover div.arrow {
    top: -6px;
    margin-left: -7px;
    border-top-width: 0;
    border-bottom-color: #171717;
    background-color: transparent;
    border-width: 7px;
  }

  .a-i-c ~ div.popover div.arrow:after {
    border-width: 7px;
    top: -14px;
    margin-left: -7px;
    border-bottom-color: #171717;
  }

  .a-i-c ~ div.popover .popover-content {
    color: @white;
    border: 0;
    max-width: 200px;
    white-space: normal!important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px 11px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #171717;
    font-size: 12px;
  }

  // -------------------- End Cart popover ----------------------------
}
