//main variables
@font-color: #D8D8D7;
@nav-color : #212121;
@white : #FFFFFF;
@grey : #EFEFEF;
@c1-10 : #E8F5FA;
@pg-border : #EDEEEE;
@main-container : #F9F9F9;
@project-radius : 2px;

@color-primary   : #0F6D2F;
@color-secondary : #33DC5A;
